In [3]:
import pandas as pd

# Load data in xlsx format
# If your data is in an Excel file, use:
df = pd.read_excel('young_saver_data.xlsx')

In [4]:
df.head()

,CIF_ID,FORACID,ACCT_NAME,Name if Minor,SCHM_DESC,All_scheme_codes,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,CIF_ID.1,Count of Accounts
0,11625,00400116252501,TANVEER KAUR SIHRA,TANVEER,YOUNG SAVERS - LCY,YOUNG SAVERS - LCY,NaN,NaN,NaN,NaN,11625.0,1.0
1,15130,00700151302501,CHANDNI MEGHJI HALAI YS/A,CHANDNI,YOUNG SAVERS - LCY,YOUNG SAVERS - LCY,NaN,NaN,NaN,NaN,15130.0,1.0
2,15455,00700154552501,CAREY IMBAHALA MINOR,CAREY,YOUNG SAVERS - LCY,NaN,NaN,NaN,NaN,NaN,15455.0,1.0
3,16684,00500166842501,MINOR AKSHAY N SHAH,MINOR,YOUNG SAVERS - LCY,NaN,NaN,NaN,NaN,NaN,16684.0,1.0
4,16816,00400168162501,RAJWANT KAUR KENTH,RAJWANT,YOUNG SAVERS - LCY,NaN,NaN,NaN,NaN,NaN,16816.0,1.0

In [12]:
# Group by CIF_ID and aggregate SCHM_DESC into a list
result_df = df.groupby('CIF_ID')['SCHM_DESC'].agg(list).reset_index()

In [15]:
print(result_df)
# Save DataFrame to Excel file
result_df.to_excel('many_schemes.xlsx', engine='openpyxl', index=False)

       CIF_ID             SCHM_DESC
0       11625  [YOUNG SAVERS - LCY]
1       15130  [YOUNG SAVERS - LCY]
2       15455  [YOUNG SAVERS - LCY]
3       16684  [YOUNG SAVERS - LCY]
4       16816  [YOUNG SAVERS - LCY]
...       ...                   ...
11755  483736  [YOUNG SAVERS - LCY]
11756  483907  [YOUNG SAVERS - LCY]
11757  483957  [YOUNG SAVERS - LCY]
11758  484023  [YOUNG SAVERS - LCY]
11759  484094  [YOUNG SAVERS - LCY]

[11760 rows x 2 columns]

In [8]:
# Call the function with CIF_ID
cif_id_to_lookup = '11625'
descriptions = get_schm_desc(df, cif_id_to_lookup)

# Print the results
print(f"Descriptions for CIF_ID '{cif_id_to_lookup}': {descriptions}")

Descriptions for CIF_ID '11625': []

In [10]:
# Call the function with CIF_ID
cif_id_to_lookup = '11625'
descriptions = get_schm_desc(df, cif_id_to_lookup)

# Print the results
print(f"Descriptions for CIF_ID '{cif_id_to_lookup}': {descriptions}")

Descriptions for CIF_ID '11625': []